/* HeroesComponent's private CSS styles */
.cards {
  margin: 0 0 32px 0;
  list-style-type: none;
  padding: 0;
  width: 240px;
}
.cards li {
  position: relative;
  cursor: pointer;
  background-color: #EEE;
  margin: 8px;
  padding: 4px 0;
  height: 24px;
  border-radius: 4px;
}

.cards li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: 2px;
}

.cards a {
  bottom: 10px;
  color: #888;
  text-decoration: none;
  position: relative;
  display: block;
  width: 230px;
}

.cards a:hover {
  color:#607D8B;
}

.cards .operator {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 4px 8px 4px 8px;
  background-color: #607D8B;
  /* line-height: 1em; */
  position: relative;
  left: -1px;
  top: 6px;
  height: 24px;
  min-width: 16px;
  text-align: right;
  margin-right: 24px;
  border-radius: 4px 0 0 4px;
}

.button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;
}

button:hover {
  background-color: #cfd8dc;
}

button.delete {
  position: relative;
  left: 194px;
  bottom: 32px;
  background-color: gray !important;
  color: white;
}

.icon {
  width: 24px;
}

.but {
  text-align: center;
  display: inline;
  -webkit-padding-start: 0px;
}

.but a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  background-color: #eee;
  border-radius: 4px;
}

.but a:visited, a:link {
  color: #607D8B;
}

.but a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}

.but a.active {
  color: #039be5;
}

.active a {
  background-color: #afb3b5;
}

.disabled {
  pointer-events: none;
  cursor: default;
}
