<h2>Add new Sim-card</h2>

<div>
  <label class="newCard">Phone number:
    <input #phoneNumber maxlength="11" />
  </label>
  <label class="newCard">Operator:
    <select #operator>
      <option *ngFor="let op of getOperator()">
        {{op}}
      </option>
    </select>
  </label>
  <label class="newCard">Balance:
    <input type="number" #balance />
  </label>

  <button (click)="goBack()">go back</button>

  <button (click)="add(phoneNumber.value, operator.value, balance.value)">
    add
  </button>
</div>
